[{
  "HostedIn.EKS.Cluster": "^{{cluster}}$",
  "HostedIn.K8s.Namespace": "^{{appNamespace}}$",
  "K8s.Node": "^i-[A-Za-z0-9]{17}$",
  "K8s.Pod": "^sample-(remote-)?app-deployment(-[A-Za-z0-9]*)*$",
  "K8s.Workload": "^sample-app-deployment(-[A-Za-z0-9]*)*$",
  "Operation": "GET /aws-sdk-call",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "aws.span.kind": "^LOCAL_ROOT$"
},
{
  "HostedIn.EKS.Cluster": "^{{cluster}}$",
  "HostedIn.K8s.Namespace": "^{{appNamespace}}$",
  "K8s.Node": "^i-[A-Za-z0-9]{17}$",
  "K8s.Pod": "^sample-app-deployment(-[A-Za-z0-9]*)*$",
  "K8s.Workload": "^sample-app-deployment(-[A-Za-z0-9]*)*$",
  "Operation": "GET /aws-sdk-call",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "RemoteService": "AWS.SDK.S3",
  "RemoteOperation": "GetBucketLocation",
  "RemoteTarget": "e2e-test-bucket-name",
  "aws.span.kind": "^CLIENT$"
}]