-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS.SDK.S3
    -
      name: RemoteTarget
      value: e2e-test-bucket-name

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS.SDK.S3
    -
      name: RemoteTarget
      value: e2e-test-bucket-name

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS.SDK.S3
    -
      name: RemoteTarget
      value: e2e-test-bucket-name

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS.SDK.S3
    -
      name: RemoteTarget
      value: e2e-test-bucket-name

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS.SDK.S3

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /aws-sdk-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS.SDK.S3
    -
      name: RemoteTarget
      value: e2e-test-bucket-name

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GetBucketLocation
    -
      name: RemoteService
      value: AWS.SDK.S3
    -
      name: RemoteTarget
      value: e2e-test-bucket-name