-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /outgoing-http-call
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteOperation
      value: GET /
    -
      name: RemoteService
      value: www.amazon.com

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.EKS.Cluster
      value: {{cluster}}
    -
      name: HostedIn.K8s.Namespace
      value: {{appNamespace}}
    -
      name: RemoteService
      value: www.amazon.com