[{
  "HostedIn.Environment": "^EC2$",
  "Operation": "InternalOperation",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "aws.span.kind": "^LOCAL_ROOT$"
},
{
  "HostedIn.Environment": "^EC2$",
  "Operation": "InternalOperation",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "RemoteService": "local-root-client-call",
  "RemoteOperation": "GET /",
  "aws.span.kind": "^CLIENT$"
}]