[{
  "name": "^{{serviceName}}$",
  "http": {
    "request": {
      "url": "^{{endpoint}}/outgoing-http-call$",
      "method": "^GET$"
    },
    "response": {
      "status": "^200$"
    }
  },
  "aws": {
    "account_id": "^{{accountId}}$"
  },
  "annotations": {
    "aws_local_service": "^{{serviceName}}$",
    "HostedIn_Environment": "^EC2$",
    "aws_local_operation": "^GET /outgoing-http-call$"
  },
  "metadata": {
      "default": {
          "otel.resource.aws.hostedin.environment": "^EC2$",
          "otel.resource.host.image.id": "^ami-0b021814637c6d457$",
          "otel.resource.host.type": "^t2.micro$",
          "aws.span.kind": "^LOCAL_ROOT$"
      }
  },
  "subsegments": [
    {
      "subsegments": [
        {
          "name": "^www.amazon.com$",
          "http": {
            "request": {
              "url": "^https://www.amazon.com$",
              "method": "^GET$"
            }
          },
          "annotations": {
            "HostedIn_Environment": "^EC2$",
            "aws_local_service": "^{{serviceName}}$",
            "aws_local_operation": "^GET /outgoing-http-call$",
            "aws_remote_service": "^www.amazon.com$",
            "aws_remote_operation": "^GET /$"
          },
          "metadata": {
            "default": {
              "aws.span.kind": "^CLIENT$"
            }
          },
          "namespace": "^remote$"
        }
      ]
    }
  ]
},
{
  "name": "^www.amazon.com$"
}]
