-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /remote-service
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.Environment
      value: EC2

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /remote-service
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.Environment
      value: EC2
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: HostedIn.Environment
      value: EC2
    -
      name: Operation
      value: GET /healthcheck
    -
      name: Service
      value: {{remoteServiceName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.Environment
      value: EC2

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{remoteServiceName}}
    -
      name: HostedIn.Environment
      value: EC2

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.Environment
      value: EC2
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.Environment
      value: EC2
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Latency
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /remote-service
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.Environment
      value: EC2

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /remote-service
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.Environment
      value: EC2
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: HostedIn.Environment
      value: EC2
    -
      name: Operation
      value: GET /healthcheck
    -
      name: Service
      value: {{remoteServiceName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.Environment
      value: EC2

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{remoteServiceName}}
    -
      name: HostedIn.Environment
      value: EC2

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.Environment
      value: EC2
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.Environment
      value: EC2
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Error
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /remote-service
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.Environment
      value: EC2

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Operation
      value: GET /remote-service
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.Environment
      value: EC2
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: HostedIn.Environment
      value: EC2
    -
      name: Operation
      value: GET /healthcheck
    -
      name: Service
      value: {{remoteServiceName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.Environment
      value: EC2

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{remoteServiceName}}
    -
      name: HostedIn.Environment
      value: EC2

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.Environment
      value: EC2
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: Service
      value: {{serviceName}}
    -
      name: HostedIn.Environment
      value: EC2
    -
      name: RemoteOperation
      value: GET /healthcheck
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}

-
  metricName: Fault
  namespace: {{metricNamespace}}
  dimensions:
    -
      name: RemoteService
      value: {{remoteServiceDeploymentName}}
