[{
  "name": "^{{serviceName}}$",
  "http": {
    "request": {
      "url": "^{{endpoint}}/remote-service\\?ip=(([0-9]{1,3}.){3}[0-9]{1,3})/$",
      "method": "^GET$"
    },
    "response": {
      "status": "^200$"
    }
  },
  "aws": {
    "account_id": "^{{accountId}}$"
  },
  "annotations": {
    "aws_local_service": "^{{serviceName}}$",
    "HostedIn_Environment": "^EC2$",
    "aws_local_operation": "^GET /remote-service$"
  },
  "metadata": {
      "default": {
          "otel.resource.aws.hostedin.environment": "^EC2$",
          "otel.resource.host.image.id": "^ami-0b021814637c6d457$",
          "otel.resource.host.type": "^t2.micro$",
          "aws.span.kind": "^LOCAL_ROOT$"
      }
  },
  "subsegments": [
    {
      "subsegments": [
        {
          "name": "^{{remoteServiceDeploymentName}}$",
          "http": {
            "request": {
              "url": "^http://(([0-9]{1,3}.){3}[0-9]{1,3}):8080/healthcheck$",
              "method": "^GET$"
            }
          },
          "annotations": {
            "aws_local_service": "^{{serviceName}}$",
            "aws_local_operation": "^GET /remote-service$",
            "aws_remote_service": "^{{remoteServiceDeploymentName}}$",
            "aws_remote_operation": "^GET /healthcheck$"
          },
          "metadata": {
              "default": {
                  "aws.span.kind": "^CLIENT$"
              }
           },
          "namespace": "^remote$"
        }
      ]
    }
  ]
},
{
  "name": "^{{remoteServiceName}}$",
  "http": {
    "request": {
      "url": "^http://(([0-9]{1,3}.){3}[0-9]{1,3}):8080/healthcheck$",
      "method": "^GET$"
    }
  },
  "annotations": {
    "HostedIn_Environment": "^EC2$",
    "aws_local_service": "^{{remoteServiceName}}$",
    "aws_local_operation": "^GET /healthcheck$"
  },
  "metadata": {
      "default": {
          "otel.resource.aws.hostedin.environment": "^EC2$",
          "otel.resource.host.image.id": "^ami-0b021814637c6d457$",
          "otel.resource.host.type": "^t2.micro$",
          "aws.span.kind": "^LOCAL_ROOT$"
      }
  },
  "subsegments": [
    {
      "name": "^RemoteServiceController.healthcheck$",
      "annotations": {
        "HostedIn_Environment": "^EC2$",
        "aws_local_operation": "^GET /healthcheck$"
      }
    }
  ]
}]


