[{
  "HostedIn.Environment": "^EC2$",
  "Operation": "GET /remote-service",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "aws.span.kind": "^LOCAL_ROOT$"
},
{
  "HostedIn.Environment": "^EC2$",
  "Operation": "GET /remote-service",
  "OTelLib": "^AwsSpanMetricsProcessor$",
  "Version": "^1$",
  "RemoteService": "{{remoteServiceDeploymentName}}",
  "RemoteOperation": "GET /healthcheck",
  "aws.span.kind": "^CLIENT$"
}]