-
  metricName: metricName
  namespace: metricNamespace
  dimensions:
    -
      name: Operation
      value: operationName
    -
      name: Service
      value: remoteServiceName

-
  metricName: metricName
  namespace: metricNamespace
  dimensions:
    -
      name: Service
      value: remoteServiceName