-
  metricName: metricName
  namespace: metricNamespace
  dimensions:
    -
      name: Operation
      value: operationName
    -
      name: Service
      value: serviceName

-
  metricName: metricName
  namespace: metricNamespace
  dimensions:
    -
      name: Service
      value: serviceName

-
  metricName: metricName
  namespace: metricNamespace
  dimensions:
    -
      name: Operation
      value: operationName
    -
      name: Service
      value: serviceName
    -
      name: RemoteOperation
      value: remoteOperationName
    -
      name: RemoteService
      value: remoteServiceName

-
  metricName: metricName
  namespace: metricNamespace
  dimensions:
    -
      name: Service
      value: serviceName
    -
      name: RemoteOperation
      value: remoteOperationName
    -
      name: RemoteService
      value: remoteServiceName

-
  metricName: metricName
  namespace: metricNamespace
  dimensions:
    -
      name: Service
      value: serviceName
    -
      name: RemoteService
      value: remoteServiceName