name: Smoke test build
on:
  push:
    branches:
      - main
    paths:
      - smoke-tests/fakebackend/**
      - dependencyManagement/**
      - gradle/**
      - .github/workflows/docker-build-smoke-tests-fake-backend.yml

env:
  AWS_DEFAULT_REGION: us-east-1

permissions:
  id-token: write
  contents: read

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
      - uses: gradle/wrapper-validation-action@v1
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.AWS_ASSUME_ROLE_ARN }}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}
      - name: Log in to AWS ECR
        uses: docker/login-action@v2
        with:
          registry: public.ecr.aws

      - name: Build and push docker image
        uses: gradle/gradle-build-action@v2
        with:
          arguments: :smoke-tests:fakebackend:jib
