on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 14
      - uses: gradle/wrapper-validation-action@v1
      - name: Login to GitHub Package Registry
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com -u ${{ github.repository }} --password-stdin
      - name: Build snapshot with Gradle
        uses: burrunan/gradle-cache-action@v1
        with:
          arguments: build snapshot --stacktrace -PenableCoverage=true
        env:
          PUBLISH_USERNAME: ${{ github.actor }}
          PUBLISH_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload to GitHub Actions
        uses: actions/upload-artifact@v2
        with:
          name: aws-opentelemetry-agent.jar
          path: otelagent/build/libs/aws-opentelemetry-agent-*.jar
      - name: Build and push agent docker image with Gradle
        uses: burrunan/gradle-cache-action@v1
        with:
          arguments: :otelagent:jib
      - name: Build and push spring-boot smoke-tests
        uses: burrunan/gradle-cache-action@v1
        with:
          arguments: :smoke-tests:spring-boot:jib
